<h1>My cupcakes</h1>
<form class="center">
  <label htmlFor="cupcake-select">
    Filter by
    <select id="cupcake-select" name="cupcake-select" [(ngModel)]="accessoryId"
    (change)="filterByAccessory()">
      <option value="">---</option>
       @for (accessory of accessories$| async ; track accessory.id) {
        <option [value]="accessory.id">{{accessory.name}}</option>
       }
    </select>
  </label>
</form>
<ul class="cupcake-list" id="cupcake-list">
  @for (cupcake of cupcakes ; track cupcake.id) {
  <li class="cupcake-item">
    <a [routerLink]="['/cupcakes/', cupcake.id]">Voir le cupcake</a>
    <app-cupcake [cupcake]="cupcake"></app-cupcake>
  </li>
  }
</ul>
