<h1>My cupcakes</h1>
<form class="center">
  <label htmlFor="cupcake-select">
    Filter by
    <select
      id="cupcake-select"
      name="cupcake-select"
      required
      [(ngModel)]="selectedAccessory"
      name="selectedAccessory"
      (change)="handleFilter()"
    >
    <option value="null">----</option>
    @for (accessory of accessories$ | async; track $index) {
      <option [value]="accessory.id">{{accessory.name}}</option>
    }
    </select>
  </label>
</form>
<ul class="cupcake-list" id="cupcake-list">
  @for (cupcake of filteredCupcakes; track $index) {
    <li class="cupcake-item">
      <a [routerLink]="['/cupcakes', cupcake.id]"><app-cupcake [cupcake]="cupcake"></app-cupcake></a>
    </li>
  }
</ul>
